@import '../../variables.scss';

.form-title {
  margin-bottom: 0.5rem;;
}

.form-card {
  max-width: 60vw;
  min-width: 400px;

  .disclaimer-container {
    margin-top: $spacing-04;
    max-height: 70vw;
    overflow-y: scroll;

    .disclaimer-type-container {
      text-align: left;
      margin-top: $spacing-04;
    }

    .disclaimer-checkbox-container {
      margin-top: $spacing-02;
      display: flex;
      align-items: center;

      .checkbox-custom {
        width: 20px;
        height: 20px;
        // border: 1px solid black;
        border-radius: 0!important;
        // background-color: #f1f1f1 /* Light grey background */
      }

      /* Style for the checked state */
      &.Mui-checked {
        background-color: #4CAF50; // Example: Background color when checked
      }

      .error-text {
        color: $red-02;
      }
    }
  }
}
